{#<h2>Id {{ article.id }}</h2>#}
{#<h3 class="byline"> Nom : {{ article.nom }}</h3>#}

{#<p>#}
    {#{{ article.description }}#}
{#</p>#}

<tr>
    <td>{{ article.id }}</td>
    <td>{{ article.nom }}</td>
    <td>{{ article.description }}</td>
</tr>