
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Recent Articles<h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        {#{{ include('isitechphpMainBundle:Default:ArticleDetails.html.twig', {'article': article}) }}#}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>

    {#<div id="sidebar">#}
    {#{{ render(controller('isitechphpMainBundle:Default:recentArticles', { 'max': 3 })) }}#}
    {#</div>#}
{% endblock %}