{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <h1>Articles<h1>
        </div>
        <div class="row-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Description</th>
                    {#<th>urlImage</th>#}
                </tr>
                </thead>
                <tbody>
                {% for art in articles %}
                    <tr>
                        <td>{{ art.id }}</td>
                        <td>{{ art.nom }}</td>
                        <td>{{ art.prix }}</td>
                        <td>{{ art.description }}</td>
                        {#<td>{{ art.urlImage }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}